<!DOCTYPE html>
<meta charset="utf-8">
<div id="chartContainer">
{% load staticfiles %}
  <script src="{% static 'js/d3.min.js' %}"></script>
  <script src="{% static 'js/dimple.min.js' %}"></script>
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 700, 700);
    d3.tsv("{% static 'ageDis.tsv' %}", function (data) {
     // data = dimple.filterData(data, "Owner", ["Aperture", "Black Mesa"])
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(40, 30, 550, 450);
      //setbounds(left margin,top margin,width,height)
      var x = myChart.addCategoryAxis("x", "age");
   //  x.overrideMax = 50;
      x.addOrderRule("age");
      
      var y= myChart.addMeasureAxis("y", "user_id");
      var s = myChart.addSeries(null, dimple.plot.line);
      myChart.draw();
      myChart.addSeries(["user_id","age"], dimple.plot.bar);
      
        
      myChart.draw();
      x.titleShape.text("Age");
     x.titleShape.attr("y", myChart.height + 70);
     y.titleShape.text("Students");
    });
    
    
    
     
     
    
   
   
     
    
    
    
    
  </script>
</div>

</html>
