<!DOCTYPE html>
<html>
<head>
	<title>EDX DATA INTERACTION</title>
{% load staticfiles %}
        <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="utf-8">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a href="#" class="navbar-brand">DATA ANALYTICS</a>
                
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--List in the collapsable/dropdown bar-->
                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ><a href="/page1/">Home</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
         </div> 

	 <div class="container" id="head1">
            <center>
              <div class="jumbotron" style="width:800px" >
                <form role="form" method="post" action="/visual/stdenrolled">
		{% csrf_token %}
		<label>Enter the course name</label>
		<select class="form-control" id="c" name="c">
        		{% for x,y in courses %}
                            <option value={{x}}>{{x }}</option>
		         {% endfor %}
      		</select>
		<br>
		<button type="submit" name="std_table" class="btn btn-default" style="background: #E48F8F;color:#fff">Submit</button>
		</form>
	      </div>
	    </center>
	</div>	
{% ifequal x "0" %}
<center>	
<!--<a href="#">
    <button type="button" class="btn btn-info btn-lg" id="open">Open</button>
</a>
-->
<div id="show">
  <table class="table" >
    <tr>
	<th>		</th>
	<th>Student name</th>
	<th>User id</th>
	<th> Emailid</th>
   </tr>
   {% for i,j,k in list_enroll %}
	<tr>
	<td>		</td>
   	<td>{{i}}</td>
	<td>{{j}}</td>
	<td>{{k}}</td>
   	</tr>
	{%  endfor %}		
  </table>
</div>
{% endifequal %}
<!--
<script>
$(document).ready(function(){
jQuery('#open').live('click', function(event) {        
         jQuery('#show').toggle('show');
    });
});
</script>
-->
<div class=" navbar navbar-inverse navbar-fixed-bottom" id="accordion">
  <div class=""><!--panel panel-default-->
    <div class="panel-heading" style="background-color:white">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
         <i class="glyphicon glyphicon-eject"></i>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse navbar-inverse">
      <div class="panel-body">
       <div class="row container navbar-collapse collapse" >

             <div style="margin-left:15px">
              <div class="col-md-1" style="background-color:white"><center>
                <h5 ><b>Home</b></h5>
                   <a href="/page1/">
                    <button class="btn btn-info btn-lg" style="margin-bottom:10px" ><i class="glyphicon glyphicon-home"></i></button><br>
                   </a>
              </div>
             </div>
            <div style="margin-right:0px;margin-bottom:1px">
                            <div class="col-md-1" style="float:right;">
                                <h5 style="color:white"><b>Enrollment Analytics</b></h5>
                                <a href="/visualization/">
                                 <button type="button" class="btn btn-info btn-lg"  id="enrolla"  name="enrolla"><i class="glyphicon glyphicon-calendar"></i></button>
                                </a>
                            </div>
                            <div class="col-md-1" style="float:right">
                                <h5 style="color:white"><b>Course Analytics</b></h5>
                                <a href="/visualization/">
                                  <button class="btn btn-info btn-lg" id="coursea" name="coursea"><i class="glyphicon glyphicon-book"></i></button>
                                </a>
                            </div>
                            <div class="col-md-1" style="float:right">
                                <h5 style="color:white"><b>Problem Analytics</b></h5>
                                <a href="/visualization/">
                                  <button  class="btn btn-info btn-lg" id="problema" name="problema"><i class="glyphicon glyphicon-pencil"></i></button>
                                </a>

                            </div>
                            <div class="col-md-1" style="float:right">
                                <h5 style="color:white"><b>Student Analytics</b></h5>
                                <a href="/visualization/">
                                     <button type="button" class="btn btn-info btn-lg" id="studenta" name="studenta"><i class="glyphicon glyphicon-user"></i></button>
                                </a>
                            </div>
                            <div class="col-md-1" style="float:right">
                                <h5 style="color:white"><b>Video&nbsp; Analytics</b></h5>
                                <a href="/visualization/">
                                     <button type="button" class="btn btn-info btn-lg" id="video1a" name="video1a"><span class="glyphicon glyphicon-play-circle"></span></button>
                                </a>
                            </div>
                            <div class="col-md-1" style="float:right">
                                <h5 style="color:white"><b>Basic&nbsp; Statistics</b></h5>
                                <a href="/stdenrolled/">
                                     <button class="btn btn-info btn-lg" id="basicstats" name="basicstats"><span class="glyphicon glyphicon-list"></span></button>
                                </a>
                            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  </div>
</div>
</body>
</html>